body{
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
} 

.img-style{
    width: 20rem;
}

.style-navbar{
    margin: 1rem;
}

.border-navbar{
    border-radius: 1rem;
}
.style-welcome{
    margin-top: 1rem;
}

.style-cards{
    margin: 1rem;
}

.img-footer{
    width: 10rem;
}
.img-card{
    width: 50rem;
}
.style-redes{
    width: 2rem;
    margin: 1rem;
}

.style-margin{
    margin: 1rem;
}

.home{
    margin: 20rem;
}
.style-main{
    margin: 10rem;
}

.style-title{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.debit{
    color: red;
}

.credit{
    color: green;
}

.bg-color{

    background-color: #3D30A2;
    border-bottom-right-radius: 30rem ;
    border-bottom-left-radius: 30rem ;
}
.bg-color2{

    background-color: #3D30A2;
    margin-top: 10rem;
    border-top-right-radius: 30rem ;
    border-top-left-radius: 30rem ;

}

.bg-nav{
    background-color: #190482;
}

.margin-login{
    margin-bottom: 5rem;
}
.w-logout{
width: 3rem;
}

.bg-trans{
    background-color: black;
    opacity: 4;
}

.bg-h1{


    color: white;
}

.bg-title{
    background-color: #3D30A2;
    margin-bottom: 1rem;
}
.img-card2{
    width: 60rem;

}

.imh-transfer{
    width: 10rem;
}

:root {

  --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
  --duration: 6.66s;

}

.card-front:before {

  content: "";
  inset: 0;
  position: absolute;
  transform: translate3d(0, 0, 0.01px);

  background-image: var(--glitter), var(--glitter),
    linear-gradient(120deg, black 25%, white, black 75%);
  background-size: 100% 100%, 80% 80%, 200% 200%;
  background-blend-mode: multiply, multiply, overlay;
  background-position: 50% 50%, 50% 50%, 50% 50%;

  mix-blend-mode: color-dodge;
  filter: brightness(2) contrast(0.8);

  animation: bg var(--duration) ease infinite;

}

.card-front {

  display: grid;
  position: relative;
  transform: translate3d(0, 0, 0.01px);
  width: 90vw;
  max-width: 580px;
  aspect-ratio: 3/2;

  border-radius: 3.5% 3.5% 3.5% 3.5% / 5% 5% 5% 5%;

  background-image: url(https://simey-credit-card.netlify.app/img/bgs/default.jpg);
  background-size: cover;

  box-shadow: 0 30px 40px -25px rgba(15, 5, 20, 1), 0 20px 50px -15px rgba(15, 5, 20, 1);
  overflow: hidden;
  animation: tilt var(--duration) ease infinite;
  image-rendering: optimizequality;

}

.card-front:after {
  
  content: "";
  background: none, none, linear-gradient(125deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 0.1%, rgba(255,255,255,0) 60%);
  background-size: 200% 200%;
  mix-blend-mode: hard-light;
  animation: bg var(--duration) ease infinite;
  
}






.card-front * {

  font-family: PT Mono, monospace;
  background:none;

}

.cardLogo,
.expiry,
.name,
.number,
.chip,
.icon {

  color: #ccc;
  position: absolute;
  margin: 0;
  padding: 0;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 2.8vw + 0.2rem, 1.1rem);
  inset: 5%;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.5),1px -1px 0px rgba(255,255,255,0.5),1px 1px 0px rgba(0,0,0,0.5),1px -1px 0px rgba(0,0,0,0.5);
  z-index: 5;

}

.name, .number, .expiry {
  background-image: linear-gradient(to bottom, #ededed 20%, #bababa 70%), none,
    linear-gradient(120deg, transparent 10%, white 40%, white 60%, transparent 90%);
  background-size: cover, cover, 200%;
  background-position: 50% 50%;
  background-blend-mode: overlay;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: bg var(--duration) ease infinite;
  
}

.number {

  font-family: PT Mono, monospace;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  top: 60%;
  bottom: auto;

}

.cvv{
  font-family: PT Mono, monospace;
  top: 60%;
  bottom: auto;
}
.expiry,
.name {

  top: auto;

}

.name {

  right: auto;
  max-width: 180px;
  line-height: 1.2;
  text-align: left;

}

.expiry {

  left: auto;

}

.cardLogo {

  bottom: auto;
  left: auto;
  width: 15%;
  filter: invert(1) saturate(0) brightness(1) contrast(1.2);
  mix-blend-mode: screen;

}

.chip {

  display: grid;
  place-items: center;
  width: 14%;
  aspect-ratio: 5/4;
  left: 10%;
  top: 30%;
  border-radius: 10% 10% 10% 10% / 15% 15% 15% 15%;

  background-image: url("../images/chip.png");
  background-size: 200% 200%;
  background-position: 50% 50%;

  overflow: hidden;
  animation: bg var(--duration) ease infinite;

}

.scrollable-div {
  width: 300px; /* Ancho del div */
  height: 400px; /* Altura del div */
  overflow: auto; /* Hace que el div sea scrollable */
  border: 1px solid #ccc; /* Borde para mayor claridad */
  padding: 10px; /* Espaciado interno del contenido */
}

.scrollable-div2 {
  width: 600px; /* Ancho del div */
  height: 400px; /* Altura del div */
  overflow: auto; /* Hace que el div sea scrollable */
  border: 1px solid #ccc; /* Borde para mayor claridad */
  padding: 10px; /* Espaciado interno del contenido */
  margin-bottom: 1rem;
}

.carddate{
  text-decoration: line-through;
  color: red;
}