<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../styles/accounts.css" />

  <title>Tus Cuentas</title>
</head>

<body>
  <div id="app">
  <header>
    <div>
      <div class="d-flex justify-content-center">
        <img class="img-style" src="../images/MONEYpng.png" alt="" />
      </div>
      <div class="d-flex justify-content-center">
        <nav class="navbar bg-dark border-bottom border-body border-navbar d-flex" data-bs-theme="dark">
          <div class="container-fluid">

            <a class="style-navbar text-light" href="../Index.html">Home</a>
            <a class="style-navbar text-light" href="./cards.html">Cards</a>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <div class="d-flex justify-content-center g-col-6 style-title">
    <h1>ACCOUNTS</h1>
  </div>
  <main>
    <h1 class="m-4 text-center welcome">Welcome {{name}}!</h1>
    <div class="d-flex justify-content-center flex-wrap gap-4">
        <div v-for="account of accounts" class="card cardAcount" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Account number: {{account.number}} </h5>
              <h6 class="card-subtitle mt-2 text-body-secondary">Amount</h6>
              <p class="card-text"> $ {{account.balance}}</p>
              <p class="card-text"><span>Creation date</span>: {{account.creationDate}}</p>
              <a :href="`./account.html?id=${account.id}`" class="aAcounts m-0">See yours moviments <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="mt-5 d-flex flex-column align-items-center">
        <h3 class="welcome mb-3">Acquired Loans</h3>
        <table v-if="loans.length > 0" class="table">
            <thead>
                <tr class="headerRow">
                    <th>Type</th>
                    <th>Amount</th>
                    <th class=" text-center">N° Quotas</th>
                </tr>
            </thead>
            <tbody>
                <tr class="rowBorder" v-for="loan of loans">
                    <td>{{ loan.name }}</td>
                    <td>{{ loan.amount }}</td>
                    <td class="text-center">{{ loan.payments }}</td>
                </tr>
            </tbody>
        </table>
        <h4 v-else>you don't have loans</h4>
    </div>
</main>
  <footer>
    <nav class="navbar bg-dark border-bottom border-body d-flex justify-content-center style-margin"
      data-bs-theme="dark">

      <div class="d-flex justify-content-center style-margin">
        <a href="https://www.facebook.com/brian.ochoa.3386"><img class="style-redes" src="../images/facebook.png"
            alt=""></a>
        <a href="https://www.instagram.com/brian.ochoa.14/"><img class="style-redes" src="../images/instagram.png"
            alt=""></a>
        <a href="https://www.linkedin.com/in/brian-ochoa-43605520a/"><img class="style-redes"
                                                                          src="../images/linkedin.png" alt=""></a>
      </div>
      <div>
        <p class="text-light d-flex justify-content-center style-margin">2023 Todos los derechos reservados By: Brian
          Ochoa (COHORT 51)</p>
      </div>
      <div class="d-flex justify-content-center style-margin">
        <img class="img-footer" src="../images/png.png" alt="" />
      </div>
    </nav>

  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../Scripts/accounts.js"></script>
</body>
</html>