<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../styles/account.css" />

  <title>Tu Cuenta</title>
</head>

<body>
  <div id="app">
  <header>
    <div>
      <div class="d-flex justify-content-center">
        <img class="img-style" src="../images/MONEYpng.png" alt="" />
      </div>
      <div class="d-flex justify-content-center">
        <nav class="navbar bg-dark border-bottom border-body border-navbar d-flex" data-bs-theme="dark">
          <div class="container-fluid">

            <a class="style-navbar text-light" href="../../Index.html">Home</a>
            <a class="style-navbar text-light" href="./accounts.html">Accounts</a>
            <a class="style-navbar text-light" href="#">Cards</a>
            <a class="style-navbar text-light" href="#">Loans</a>
            <a class="style-navbar text-light" href="#">Transactions</a>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <!-- <div class="card style-welcome">
   <div  class=" card-body d-flex justify-content-center">WELCOME {{name}}!</div>
  </div> -->
  <div class="d-flex justify-content-center g-col-6 style-title">
    <h1>ACCOUNT</h1>
  </div>
  <main>
    <h1 class="m-4 text-center">Account N°: {{account.number}}</h1>
    <div class="d-flex flex-column align-items-center">
        <div>
            <h6 class="card-subtitle text-body-secondary text-center">Amount</h6>
            <p class="card-text m-0 text-center"> $ {{account.balance}}</p>
            <p class="card-text m-0 mt-3">Creation date: {{account.creationDate}}</p>
        </div>
        <div class="mt-4 accountDetail">
            <h3>Summary</h3>
            <table class="table">
                <thead>
                    <tr class="headerRow">
                        <th>TYPE</th>
                        <th>AMOUNT</th>
                        <th>DATA</th>
                        <th>DESCRIPTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rowBorder" v-for="transaction of account.transactions">
                        <td v-if="transaction.type == 'DEBIT'" class="debit">{{ transaction.type }}</td>
                        <td v-else class="credit">{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td> {{ dateFormat(transaction.date) }}</td>
                        <td>{{ transaction.description }}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
  <footer>
    <nav class="navbar bg-dark border-bottom border-body d-flex justify-content-center style-margin"
      data-bs-theme="dark">

      <div class="d-flex justify-content-center style-margin">
        <a href="https://www.facebook.com/brian.ochoa.3386"><img class="style-redes" src="../images/facebook.png"
            alt=""></a>
        <a href="https://www.instagram.com/brian.ochoa.14/"><img class="style-redes" src="../images/instagram.png"
            alt=""></a>
        <a href="https://www.linkedin.com/in/brian-ochoa-43605520a/"><img class="style-redes"
                                                                          src="../images/linkedin.png" alt=""></a>
      </div>
      <div>
        <p class="text-light d-flex justify-content-center style-margin">2023 Todos los derechos reservados By: Brian
          Ochoa (COHORT 51)</p>
      </div>
      <div class="d-flex justify-content-center style-margin">
        <img class="img-footer" src="../images/png.png" alt="" />
      </div>
    </nav>

  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/JavaScript" src="https://MomentJS.com/downloads/moment.js"></script>
<script src="../Scripts/account.js"></script>
</body>

</html>